@import "./reset";
@import "./vars";
@import "./global";

// Maiin style
main {
  padding-top: 80px;
}
.logo {
  display: block;
  max-width: 100%;
  margin: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: 40px;
  @media (max-width: 475px) {
    max-width: 56px;
    margin-bottom: 32px;
  }
}
.subscribtion {
  color: $gray;
  text-align: center;
  &__title {
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    margin-bottom: 16px;
    strong {
      font-weight: 700;
      color: black;
    }
    @media (max-width: 475px) {
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    font-weight: 300;
    line-height: 24px;
    color: #15202a;
    margin-bottom: 40px;
    @media (max-width: 475px) {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 32px;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 94px;
    @media (max-width: 475px) {
      display: block;
      margin-bottom: 72px;
    }
    fieldset {
      display: flex;
      flex-direction: column;
      flex: 1 1 100%;
      @media (max-width: 475px) {
        margin-bottom: 20px;
      }
    }
    button {
      display: block;
      width: 100%;
      padding: 18px 24px;
      max-width: 200px;
      box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.230414);
      border-radius: 28px;
      background-color: $primary;
      border: none;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      transition: all 0.3s ease 0s;
      cursor: pointer;
      &:hover {
        background-color: #7196f5;
      }
      @media (max-width: 475px) {
        max-width: none;
      }
    }
    label {
      font-size: 0;
    }
    input {
      display: block;
      padding: 16px 30px;
      background: #ffffff;
      border: 1px solid #c2d3ff;
      box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.0001);
      border-radius: 28px;
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
      color: #15202a;
      margin-bottom: 6px;
      &:focus {
        outline-color: $primary;
      }
      &:invalid {
        outline-color: $lightRed;
        color: $lightRed;
      }
    }
    small {
      color: $lightRed;
      font-size: 12px;
      font-style: italic;
      line-height: 20px;
      text-align: left;
      letter-spacing: 0.15000000596046448px;
      padding-left: 30px;
      transition: all 0.3s ease 0s;
      opacity: 0;
      visibility: hidden;
      display: none;
      @media (max-width: 475px) {
        text-align: center;
        padding: 0;
      }
    }
  }

  &__screenshot {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 72px;
    @media (max-width: 475px) {
      margin-bottom: 120px;
    }
  }
}
.copyright {
  display: block;
  color: $gray;
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  text-align: center;
}
.social {
  margin: auto;
  list-style: none;
  display: flex;
  max-width: 120px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
  a {
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    &:hover {
      transform: scale(1.3);
    }
  }
}
footer {
  padding-bottom: 50px;
}
